*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: white;
}
.head
{
    position: relative;
    width: 100%;
    height: 75px;
    
}
span{
    color: #d60c0c;
}
#chy{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Satisfy', cursive;
}

/*   header start   */

nav{
    width: 100%;
    background-color: white;
    height: 75x;
    line-height: 50px;
    padding: 0px 120px;
}
nav h1{
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Satisfy', cursive;
    color: black;
    text-transform: uppercase;
    float: left;
    margin-top: 25px;
}
nav ul{
    float: right;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
    z-index: 1;
    margin-top: 5px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    color: black;
    font-size: 20px;
    padding: 0px 16px;
    display: block;
}
nav ul li a:hover{
    color: orangered;
    /* background-color: #666; */
    transition: all 0.4s ease 0s;
}
nav ul li ul{
    position: absolute;
    display: none;
    border-radius: 0px 0px 5px 5px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    line-height: 1px;
    font: 10px;
    width: 190px;
    border-radius: 5px;
    padding: 2px;
}
nav ul li ul li a{
    padding: 10px 16px;
}
nav ul li ul li a:hover{
    color: orangered;
    transition: all 0.4s ease 0s;
}

/*   header end   */


/*  Home start  */


.line{
    /* margin-top: 60px; */
    text-align: center;
    /* margin-bottom: 20px; */
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.background-color{
    width: 100%;
    /* min-height: 100vh; */
    height: 700px;
    display: flex;
}
.bg-1{
    flex: 1;
    /* background-color: rgb(177, 211, 85); */
    background-color: white;
}
.bg-2{
    flex: 1;
    /* background-color: rgb(32, 194, 118); */
    background-color: white;
}
.about-container{
    width: 85%;
    min-height: 70vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    /* background-color: white; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray,-10px -10px 10px gray;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img{
    width: 350px;
    height: 450px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.text-container h1{
    font-size: 30px;
    padding: 10px 0px;
}
.text-container p{
    font-size: 22px;
    padding: 10px 0px;
    text-transform: uppercase;
}
.text-container a{
    text-decoration: none;
    padding: 12px;
    /* border: 2px solid greenyellow; */
    /* border: 2px solid tomato; */
    margin-top: 30px;
    background-color: burlywood;
    /* background-color: #000; */
    color: white;
    font-size: 20px;
    border-radius: 25px;
    transition: 0.5s ease;
}
.text-container a:hover{
    background-color: #666;
    transform: scale(1.2);
}


/*  Home start  */

/* about */

.skill{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    color: aqua;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}


/*    about start    */


.heading{
    width: 90%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: black;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: aqua;
}
/* .heading p{
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
} */
.hob h1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 80px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: black;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.about-content .hire-me{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: burlywood;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .hire-me:hover{
    background-color: #666;
}


/*    about end    */


/* education  start */

.d-3{
    float: left;
    width: 30%;
    padding: 5px;
}
#dd-3{
    margin-left: 70px;
}

/* education  start */

/*   skil  start  */

.s-3{
    float: left;
    width: 30%;
    padding: 5px;
}
.p-3{
    border-left: 2px solid rgb(91, 146, 201);
}
#ss-3{
    margin-left: 70px;
}
.s-3 p{
    line-height: 1.5;
    color: #666;
}
.s-3 img{
    width: 100%;
    transition: transform 1s;
}
.s-3 img:hover{
    transform: scale(1.2);
}

/* skil end*/


/* project content*/

.pro{
    float: left;
    width: 40%;
    padding: 5px;
    margin-bottom: 20px;
}
.pro h2{
    padding-top: 80px;
}
.pro p{
    font-size: 20px;
    color: #666;
}
#proo{
    margin-left: 70px;
}

/* project content */

/* project img */
#proo-img{
    margin-left: 70px;
}
.pro-img{
    float: left;
    width: 23%;
    padding: 5px;
}
.pro-img img{
    width: 100%;
    transition: transform 0.5s;
}
.pro-img img:hover{
    transform: translateY(-25px);
}

/* project img end */

.last{
    width: 100%;
    height: 100px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: 90px;
}





